*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#fff5f8;
overflow:hidden;
}

#app{
width:100%;
height:100vh;
}

#loading{
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ffd6e7,#fff2d9);
}

.logo{
font-size:70px;
animation:pulse 1.5s infinite;
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.2);}
100%{transform:scale(1);}
}

h1{
font-size:42px;
color:#ff4f8b;
margin-top:10px;
}

p{
margin-top:10px;
color:#666;
}

.progress{
margin-top:25px;
width:280px;
height:12px;
background:#eee;
border-radius:30px;
overflow:hidden;
}

#fill{
height:100%;
width:0%;
background:linear-gradient(90deg,#ff4f8b,#ff86b6);
border-radius:30px;
}

#percent{
margin-top:15px;
font-weight:bold;
color:#ff4f8b;
}

/* OPENING */

.opening{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:linear-gradient(135deg,#ffe2ed,#fff4dc);
animation:fade .8s;
}

.title{
font-size:55px;
color:#ff4f8b;
}

.subtitle{
margin-top:15px;
font-size:18px;
}

.btn{
margin-top:40px;
padding:15px 45px;
border:none;
border-radius:40px;
background:#ff4f8b;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}

.welcome{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:30px;
text-align:center;
animation:fade .8s;
}

.bigHeart{
font-size:80px;
animation:pulse 1.5s infinite;
}

/* FLOWER */

.flower{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
animation:fade .8s;
}

.flowerEmoji{
font-size:55px;
animation:float 2s infinite;
}

@keyframes float{
50%{
transform:translateY(-15px);
}
}

.envelope{
margin-top:40px;
width:220px;
height:140px;
background:#ffb4cb;
position:relative;
border-radius:10px;
cursor:pointer;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.cover{
position:absolute;
width:0;
height:0;
border-left:110px solid transparent;
border-right:110px solid transparent;
border-top:70px solid #ff6a9f;
transform-origin:top;
transition:.8s;
}

.paper{
position:absolute;
width:180px;
height:100px;
left:20px;
top:20px;
background:white;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
border-radius:10px;
transition:.8s;
}

.fade{
animation:fade .8s;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
  }
